@import "../node_modules/modern-normalize/modern-normalize.css";

body {
    background-color: lightgrey;
    overflow: hidden;
    height: 100vh;
}

h1 {
    margin: 0;
}

header {
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    color: white;
}

#main-content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 16px;
    height: 100%;
}

form {
    background-color: white;
    padding: 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
}